@page
@model YourPropertiesModel
@{
    ViewData["Title"] = "Your Properties";
    ViewData["ActivePage"] = ManageNavPages.YourProperties;
}

<h3>@ViewData["Title"]</h3>


<li class="list-group-item">
    <h5 class="mt-1"><a asp-area="Admin" asp-controller="Property" asp-action="Add">Add a Property</a></h5>
</li>